{% extends 'base.html' %}
{% block content %}

<table>
    <thead>
        <tr>
            <th> My Notes</th>
            
        </tr>
    </thead>

    

<tbody>
    {% for note in notes %}
    <tr><td><a href= "{% url 'notes-detail' note.pk %}">{{note.title}}</td><td>{{note.body}}</td></tr></a>
    {% endfor %}
</tbody>
</table>

<a href="{% url 'new-note' %}" class="button">New Note</a>   

{% endblock %}

<!-- See examples repo for Amy's todos_list html -->

<!-- Gonna use this in a bit. -->
<!-- <form action="/team_name_url/" method="post">
    <label for="team_name">Enter name: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">
    <input type="submit" value="OK">
</form> -->