{% extends 'base.html' %}

{% block content %}
<dl><dt>{{note.title}}</dt><dd>{{note.body}}</dd></dl>

<a href="{% url 'note-edit' pk=note.pk %}" class="button">Edit Note</a>
<a href="{% url 'note-delete' pk=note.pk %}" class="button-danger">Delete Note</a>



<footer>
    <p>Created at: {{note.created_at}}</p>
    <p>Updated at: {{note.updated_at}}</p>
    <a href="{% url 'notes-list' %}" class ="button">Home</a>
</footer>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html> -->